:root {
    --white: rgb(241, 241, 241);
    --blue: rgb(91, 154, 213);
    --dkblue: #41506b;
}

body {
    background-color: #E0F5F8;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*#region HEADER */

.header {
    background-color: var(--white);
    color: var(--blue);
    height: 20%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.contact-banner {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--blue);

}

.contact-info {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.contact-item img {
    width: 1.5rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.contact-item p {
    color:#393e46;
}

.social-icons {
    align-items: center;
}

.social-icons img {
    width: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: middle;
}

.main-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 1.5rem;
}

.logo img {
    align-self: center;
    max-height: 5rem;
}

.menu-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-right: 1.5rem;
    align-self: stretch;
}

.menu-container-mobile {
    display: none;
    align-content: center;
}

.menu-container-mobile img {
    transition-duration: 0.6s;
    transition-property: transform;
    width: 2rem;
}

#hamburger-button {
    display: none;
}

.navbar {
    align-self: stretch;
    display: flex;
    width: 75%;
}

.mobile-navbar {
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 80%;;
    justify-content: first baseline
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-self: flex-end;
}

.navbar li {
    flex: 1;
    width: auto;
    display: flex;
    justify-content: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
    display: flex;
}

.navbar a.passive {
    background-color: transparent;
}

.active {
    background-color: var(--blue);

    a {
        color: var(--white);
    }
}

.navbar li:hover {
    background-color: var(--blue);

    a {
        color: var(--white);
    }
}

.language-selector {
    width: 25%;
    margin-left: 1rem;
    align-self: stretch;
    display: flex;
}

.language-selector select {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
    align-self: flex-end;
}

/*#region Mobile Header */

@media (max-width: 780px) {
    .contact-banner {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu-container-mobile {
        height: 100vh;
        position: absolute;
        top: 1.25em;
        right: 0%;
        display: flex;
        flex-direction: column;
        transition-duration: 0.6s;
        transition: width 2s;
    }

    .on {
        width: 40%;
        background-color: var(--white);
    }

    .off {
        width: 10%;
        background-color: transparent;
    }

    #hamburger-button:checked+label>img {
        transform: rotate(-90deg);
    }


    .menu-container-mobile ul {
        height: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

    }

    .menu-container-mobile li {
        height: 100%;
        width: 95%;
        align-items: center;
        align-content: center;
        display: flex;
        padding-left: 5%;
    }

    .menu-container-mobile a {
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .language-selector-mobile{
        
        padding-left: 5%;
        width: 50%;
        height: 5%;
    }

    .language-selector-mobile select{
        width: 100%;
        height: 100%;
    }

    .btn{
        padding-bottom: 10%;
    }
}

/*#endregion Mobile Header */

/*#endregion HEADER */

/*#region ABOUT US */

.about-part {
    display: flex;
    background-color: #e0f4f7;
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us-text {
    padding-top: 5%;
    flex: 1;
}

.about-us-text h1 {
    padding-left: 5%;
    color: #5b9ad5;
}

.about-us-text h2 {
    padding-left: 5%;
    color: #5b9ad5;
}

.about-us-text hr {
    margin-left: 5%;
    margin-right: 85%;
    border: 1px solid #5b9ad5;
}

.about-us-text p {
    padding-left: 5%;
    word-spacing: 5px;
    line-height: 1.5;
    color: #393e46;
}

.about-us-text ul {
    padding-left: 8%;

}

li {
    color: #393e46;
}


.about-us-pics {
    float: right;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
    padding-top: 5%;
    padding-right: 3%;
}

.img1 {
    width: 15%;
    height: auto;
    border-radius: 10%;
    float: right;
    position: absolute;
    right: 20%;
}

.img2 {
    width: 30%;
    height: auto;
    border-radius: 10%;
    float: right;
    right: 10%;
    position: relative;
    top: 30%;
    border: 8px solid #e0f4f7;
}

.contact-line {
    background-color: #41506b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding-right: 10%;
    padding-left: 10%;
}

.contact-line p {
    color: #e0f4f7;
    font-size: large;
    font-weight: 600;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

.hand {
    width: 20%;
    height: 60%;
}

.contact-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #5b9ad5;
    border-radius: 15px;
    box-sizing: border-box;
    color: #5b9ad5;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 15%;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10%;
}

.contact-button:disabled {
    pointer-events: none;
}

.contact-button:hover {
    color: #fff;
    background-color: #5b9ad5;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.contact-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.about-part2 {
    display: flex;
    padding-top: 3%;
    background-color: #e0f4f7;
    padding-bottom: 10%;
}

.about-ankara {
    flex: 1;
    padding-right: 3%;
    padding-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.about-ankara h1 {
    color: #5b9ad5;
}

.about-ankara hr {
    margin-left: 3%;
    margin-right: 85%;
    margin-bottom: 5%;
    border: 1px solid #5b9ad5;
}

.about-ankara p {
    word-spacing: 5px;
    line-height: 1.5;
    color: #393e46;
}

.about-ankara-pics {
    float: left;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
    padding-left: 3%;
    padding-top: 5%;
}

.img3 {
    width: 20%;
    height: auto;
    border-radius: 10%;
    position: absolute;
    right: 65%;
}

.img4 {
    width: 35%;
    height: auto;
    border-radius: 10%;
    position: relative;
    top: 40%;
    left: 10%;
    border: 8px solid #e0f4f7;
}

/*#endregion ABOUT US */

/*#region FOOTER */

footer {
    height: 45%;
    background-color: var(--dkblue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.footer-img-container{
    flex: .75;
    display: flex;
    justify-content: center;
}

.footer-img-container img{
    width: 75%;
    align-self: center;
}

.footer-contact-container {
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.footer-contact-container p, h2{
    color: var(--white);
}

.contact-social {
    display: flex;
    justify-content: space-between;
    height: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.contact-social img{
    width: 15%;
}

.footer-map-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer iframe {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

/*#region MOBILE FOOTER */

@media (max-width: 780px) {
    footer {
        flex-direction: column;
        height: 100%;
    }

    .footer-img-container{
       flex: 0.2;
    }

    .footer-img-container img{
        width: 30%;
    }

    .footer-contact-container{
        width: 80%;
        height: 30%;
        justify-content: center;
    }

    .contact-social {
        height: 20%;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .contact-social img {
        padding: .5em;
        width: 10%;
        height: fit-content;
    }

    .footer-map-container {
        width: 100%;
        height: 40%;
        flex: 1;
    }

    .footer-map-container iframe {
        height: 100%;
        width: 100%;
        margin: 1%;
    }
}

/*#endregion MOBILE FOOTER*/

/*#endregion FOOTER*/