html, body {
    height: 100%;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
}

.contact-banner {
    float: none;
    display: flex;
    position: relative;
    height: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-top: 1%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #5b9ad5;
}

.phones {
    display: flex;
    justify-content: center;
    height: 100%;
}

.mails {
    display: flex;
    justify-content: center;
    height: 100%;
}

.contact-banner a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

.contact-banner svg {
    height: 1.25em;
}

.socials {
    display: flex;
    float: none;
    position: relative;
    height: 20%;
    align-items: center;
    padding-left: 50%;

}

.btn-whatsapp {
    border: none;
    background-image: url(/icons/whatsapp.svg);
    background-repeat: no-repeat;
    padding: 12px 25px;
    cursor: pointer;
    width: 20%;
    height: 20%;
}

.btn-instagram {
    border: none;
    background-image: url(/icons/instagram.svg);
    background-repeat: no-repeat;
    padding: 12px 25px;
    cursor: pointer;
    
}

.btn-facebook {
    border: none;
    background-image: url(/icons/facebook.svg);
    background-repeat: no-repeat;
    padding: 12px 16px;
    cursor: pointer;
}


.menu {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #f1f1f1;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.navbar {
    display: inline-block;
}

.menuButton {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    line-height: 25px;
    border-radius: 4px;
}

.menuButton:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #5b9ad5;
    color: white;
}

.logo-container {
    float: left;
    padding-left: 4%;
    line-height: 25px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 50%;
    width: 10%;
    height: 5%;
}

.container {
    display: flex;
    padding-bottom: 5%;
    background-image: url('/images/doc.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-2 {
    border-top: 0.5px solid #5b9ad5;
    background-color: #E0F5F8;
}

.contactButton {
    background-color: #5b9ad5;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    
}

.contact-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #5b9ad5;
  border-radius: 15px;
  box-sizing: border-box;
  color: #5b9ad5;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  margin-left: 5%;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.contact-button:disabled {
  pointer-events: none;
}

.contact-button:hover {
  color: #fff;
  background-color: #5b9ad5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.contact-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 10%;
    float: left;   
    margin-top: 10%;
    padding-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
}

.hr-1 {
    border: 1px solid #5b9ad5; 
    margin-left: 5%;
    margin-right: 70%;

}


.service-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    line-height: 1.8;
    
}


.hr-2 {
    border: 1px solid #132743; 
    padding-left: 40%;
    padding-right: 40%;
}

.summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    background-color: #E0F5F8;
}

.sum-1 {
    width: 250px;
    height: 250px;
    background-color: #e4f0f9;
    border-radius: 8%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sum-2 {
    width: 250px;
    height: 250px;
    background-color: #e4f0f9;
    border-radius: 8%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
    align-items: center;
    display: flex;
}

.sum-3 {
    width: 250px;
    height: 250px;
    background-color: #e4f0f9;
    border-radius: 8%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
    align-items: center;
    display: flex;
}

.sum-4 {
    width: 250px;
    height: 250px;
    background-color: #e4f0f9;
    border-radius: 8%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
    align-items: center;
    display: flex;
}

.footer {
    background-color: #41506b; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;

}

.logo-box {
    height: 70%;
    width: 70%;
    background-color: #41506b;
    border-radius: 8%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2%;

}

.contact-box {
    height: 70%;
    width: 70%;
    background-color: #e4f0f9;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2%;

}

.contact-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-whatsapp {
    border: none;
    background-image: url(/icons/footer-whatsapp.svg);
    background-repeat: no-repeat;
    cursor: pointer;

}

.footer-instagram {
    border: none;
    background-image: url(/icons/footer-instagram.svg);
    background-repeat: no-repeat;
    cursor: pointer;

}

.footer-facebook {
    border: none;
    background-image: url(/icons/footer-facebook.svg);
    background-repeat: no-repeat;
    cursor: pointer;

}

.map-box {
    height: 70%;
    width: 70%;
    background-color: #f2f2f2;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 8%;
    display: flex;
    margin: 2%;
}

.map-container {
    width: 100%;
    height: 100%;
}
