body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.mobile-header {
    display: none;
}

.contact-banner {
    float: none;
    display: flex;
    position: relative;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-top: 1%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #5b9ad5;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phones {
    display: flex;
    justify-content: center;
    height: 100%;
}

.mails {
    display: flex;
    justify-content: center;
    height: 100%;
}

.contact-banner a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

.contact-banner svg {
    height: 1.25em;
}

.socials {
    display: flex;
    float: none;
    position: relative;
    height: 20%;
    align-items: center;
}

.btn-whatsapp {
    border: none;
    background-image: url("./icons/whatsapp.svg");
    background-repeat: no-repeat;
    padding: 12px 25px;
    cursor: pointer;
    width: 20%;
    height: 20%;
}

.btn-instagram {
    border: none;
    background-image: url("./icons/instagram.svg");
    background-repeat: no-repeat;
    padding: 12px 25px;
    cursor: pointer;

}

.btn-facebook {
    border: none;
    background-image: url("./icons/facebook.svg");
    background-repeat: no-repeat;
    padding: 12px 16px;
    cursor: pointer;
}


.menu {
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: space-between;
    padding-right: 3%;
}

.navbar {
    display: flex;
    width: 40%;
    align-items: center;
}

.menuButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    text-align: center;
    align-items: center;
    padding: 1%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border-radius: 4px;
    width: 100%;
    height: 50%;
}

.languageSelector {
    height: 35%;
    width: 100%;
}

.menuButton:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #5b9ad5;
    color: white;
}

.logo-container {
    float: left;
    padding-left: 4%;
    border-radius: 4px;
    width: 10%;
    height: 5%;
}

.container {
    display: flex;
    padding-bottom: 8%;
    background-image: url("./images/doc-s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-2 {
    border-top: 0.5px solid #5b9ad5;
    background-color: #E0F5F8;
    padding-bottom: 10%;
}

.contactButton {
    background-color: #5b9ad5;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;

}

.about-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #5b9ad5;
    border-radius: 15px;
    box-sizing: border-box;
    color: #5b9ad5;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    margin-left: 5%;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
}

.about-button:disabled {
    pointer-events: none;
}

.about-button:hover {
    color: #fff;
    background-color: #5b9ad5;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.about-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 10%;
    float: left;
    margin-top: 10%;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

.content h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    color: #5b9ad5;
}

.content h4 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-bottom: 3%;
    color: #393e46;
}

.contact-line {
    background-color: #41506b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding-right: 10%;
    padding-left: 10%;
}

.contact-line p {
    color: #e0f4f7;
    font-size: large;
    font-weight: 600;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

.hand {
    width: 20%;
    height: 60%;
}

.contact-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #5b9ad5;
    border-radius: 15px;
    box-sizing: border-box;
    color: #5b9ad5;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 15%;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10%;
}

.contact-button:disabled {
    pointer-events: none;
}

.contact-button:hover {
    color: #fff;
    background-color: #5b9ad5;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.contact-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.hr-1 {
    border: 1px solid #5b9ad5;
    margin-left: 5%;
    margin-right: 75%;

}

.service-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    line-height: 1.8;

}

.service-summary h2 {
    color: #5b9ad5;
}

.hr-2 {
    border: 0.5px solid #132743;
    padding-left: 40%;
    padding-right: 40%;
    color: #5b9ad5;
}

.summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    background-color: #E0F5F8;
}

.summary p {
    color: #393e46;
}

.sum-1 {
    width: 300px;
    height: 300px;
    background-color: #eff4f8;
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.sum-1 img {
    width: 25%;
    height: 25%;
    margin-bottom: 5%;
}


.sum-2 {
    width: 300px;
    height: 300px;
    background-color: #eff4f8;
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.sum-2 img {
    width: 25%;
    height: 25%;
}


.sum-3 {
    width: 300px;
    height: 300px;
    background-color: #eff4f8;
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.sum-3 p {
    padding-bottom: 5%;
}

.sum-3 img {
    width: 25%;
    height: 25%;
}

.sum-4 {
    width: 300px;
    height: 300px;
    background-color: #eff4f8;
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.sum-4 p {
    padding-bottom: 10%;
}

.sum-4 img {
    width: 25%;
    height: 25%;
}

.footer {
    background-color: #41506b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;

}

.logo-box {
    height: 70%;
    width: 70%;
    background-color: #41506b;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.contact-box {
    height: 70%;
    width: 70%;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-box h2 {
    padding: 30% 80% 10% 10%;
    color: #fffdf6;
}

.contact-box hr {
    border: 1px solid #fffdf6;
    margin-left: 20%;
}

.contact-box p {
    padding: 5%;
    padding-top: 0%;
    color: #fffdf6;
    word-spacing: 5px;
    text-align: center;
}


.contact-social {
    display: flex;
    height: 20%;
    width: 50%;
    background-color: #41506b;
    flex-direction: row;
}

.footer-whatsapp {
    flex: 1 1;
    height: 40%;
    border: none;
    background-image: url("./icons/whatsapp-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    background-color: #41506b;

}

.footer-instagram {
    flex: 1 1;
    height: 40%;
    border: none;
    background-image: url("./icons/instagram-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    background-color: #41506b;

}

.footer-facebook {
    flex: 1 1;
    height: 40%;
    border: none;
    background-image: url("./icons/facebook-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    background-color: #41506b;

}

.map-box {
    height: 70%;
    width: 70%;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8%;
    display: flex;
    margin: 2%;
}

.map-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .contact-banner {
        display: none;
    }

    .header {
        display: none;
    }

    .mobile-header {
        display: block;
        color: #f1f1f1;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        height: 10%;
        background-color: #f1f1f1;
    }

    .logo-container {
        height: 100%;
        width: auto;
    }

    .hamburger-menu {
        height: 50%;
        padding-top: 2%;
        padding-right: 4%;
        float: right;
    }

    .mobile-navbar {
        display: none;
        flex-direction: column;
        background-color: #f1f1f1;
    }
}

@media screen and (max-width: 600px) {
    .header {
        display: none;
    }

    .mobile-header {
        display: block;
        color: #f1f1f1;
    }

    .mobile-menu {
        display: flex;
        height: 10%;
        background-color: #f1f1f1;
    }

    .hamburger-menu {
        height: 50%;
        padding-top: 4%;
    }

    .mobile-navbar {
        display: none;
        flex-direction: column;
        background-color: #f1f1f1;
    }

    .summary {
        flex-direction: column;
        gap: 15px;
    }

    .logo-box {
        display: none;
    }

    .contact-social {
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .footer {
        flex-direction: column;
    }

    .footer-whatsapp {
        margin-left: 20%;
        height: 100%;
    }

    .footer-instagram {
        height: 100%;
    }

    .footer-facebook {
        height: 100%;
    }

    .map-box {
        margin-top: 5%;
    }

    .logo-container {
        width: 30%;
        height: 100%;
    }

}