:root {
    --white: rgb(241, 241, 241);
    --blue: rgb(91, 154, 213);
    --dkblue: #41506b;
}

body {
    background-color: #E0F5F8;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*#region HEADER */

header {
    background-color: var(--white);
    color: var(--blue);
    height: 20%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.contact-banner {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

.contact-info {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.contact-item img {
    width: 1.5rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.contact-item p {
    color:#393e46;
}

.social-icons {
    align-items: center;
}

.social-icons img {
    width: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: middle;
}

.main-header {
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 1.5rem;
}

.logo img {
    align-self: center;
    max-height: 5rem;
}

.menu-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-right: 1.5rem;
    align-self: stretch;
}

.menu-container-mobile {
    display: none;
    align-content: center;
}

.menu-container-mobile img {
    transition-duration: 0.6s;
    transition-property: transform;
    width: 2rem;
}

#hamburger-button {
    display: none;
}

.navbar {
    align-self: stretch;
    display: flex;
    width: 75%;
}

.mobile-navbar {
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 80%;;
    justify-content: first baseline
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-self: flex-end;
}

.navbar li {
    flex: 1;
    width: auto;
    display: flex;
    justify-content: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.navbar a {
    text-decoration: none;
    color:#393e46;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
    display: flex;
}

.navbar a.passive {
    background-color: transparent;
}

.active {
    background-color: var(--blue);

    a {
        color: var(--white);
    }
}

.navbar li:hover {
    background-color: var(--blue);

    a {
        color: var(--white);
    }
}

.language-selector {
    width: 25%;
    margin-left: 1rem;
    align-self: stretch;
    display: flex;
}

.language-selector select {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
    align-self: flex-end;
}

/*#region Mobile Header */

@media (max-width: 780px) {
    .contact-banner {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu-container-mobile {
        height: 100vh;
        position: absolute;
        top: 1.25em;
        right: 0%;
        display: flex;
        flex-direction: column;
        transition-duration: 0.6s;
        transition: width 2s;
    }

    .on {
        width: 40%;
        background-color: var(--white);
    }

    .off {
        width: 10%;
        background-color: transparent;
    }

    #hamburger-button:checked+label>img {
        transform: rotate(-90deg);
    }


    .menu-container-mobile ul {
        height: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

    }

    .menu-container-mobile li {
        height: 100%;
        width: 95%;
        align-items: center;
        align-content: center;
        display: flex;
        padding-left: 5%;
    }

    .menu-container-mobile a {
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .language-selector-mobile{
        
        padding-left: 5%;
        width: 50%;
        height: 5%;
    }

    .language-selector-mobile select{
        width: 100%;
        height: 100%;
    }

    .btn{
        padding-bottom: 10%;
    }
}

/*#endregion Mobile Header */

/*#endregion HEADER */


/*#region CONTENT*/

.our-med-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0F5F8;
    padding-top: 4%;
    padding-bottom: 3%;
}

.our-med-services h1 {
    color: #5b9ad5;
}

.our-med-services hr {
    border: 1px solid #5b9ad5;
    padding-left: 10%;
    padding-right: 10%;
}

.our-med-services p {
    color: #393e46;
}

.med-services {
    padding-top: 5%;
    background-color: #E0F5F8;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service {
    display: flex;
    align-items: flex-start;
    background-color: #eff4f8;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    margin-bottom: 3%;
    box-sizing: content-box;
    width: 100%;
}

.service-content {
    flex: 1;
}

.service img {
    width: 15%;
    height: 15%;
    margin-top: 8%;
    margin-left: 5%;
    background-color: #5b9ad5;
    border-radius: 50%;
    border: #41506b 0.5px solid;
    margin-right: 5%;
    margin-bottom: 5%;
}

.service-content h3 {
    padding-top: 10%;
    margin-bottom: 0;
    color: #393e46;
    padding-top: 3%;
    letter-spacing: 0.5px;
}

.service-content p {
    color: #393e46;
    padding-right: 5%;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.service-content hr {
    border: 1px solid #5b9ad5;
    margin-right: 80%;
    margin-bottom: 0;
    margin-top: 2%;
}

.slider-container {
    display: flex;
    max-width: 100%;
    height: 100%;
    margin-bottom: 4%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.slider-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.slider {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-behavior: smooth;
    border-radius: 50px;
}

.prev {
    position: absolute;
    width: 5%;
    border-radius: 50%;
    top: 40%;
    bottom: 5%;
    left: 1%;
    max-height: 25%;
    background-color: #5b9ad5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.5;
}

.prev:hover {
    opacity: 1;
}

.next {
    width: 5%;
    position: absolute;
    right: 1%;
    top: 40%;
    border-radius: 50%;
    bottom: 5%;
    max-height: 25%;
    background-color: #5b9ad5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.5;
}

.next:hover {
    opacity: 1;
}

.slider img {
    flex: 0 0 auto;
    width: 30%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: start;
    border-left: 5px solid #E0F5F8;
}

.slider::-webkit-scrollbar {
    display: none;

}

.slider::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.slider::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.contact-line {
    margin-top: 3%;
    background-color: #41506b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25%;
}

.contact-line p {
    color: whitesmoke;
    font-size: large;
    font-weight: 600;
    line-height: 2;
}

.hand {
    width: 20%;
    height: 60%;
}

.contact-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #5b9ad5;
    border-radius: 15px;
    box-sizing: border-box;
    color: #5b9ad5;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 10%;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10%;
}

.contact-button:disabled {
    pointer-events: none;
}

.contact-button:hover {
    color: #fff;
    background-color: #5b9ad5;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.contact-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.treatment-plan {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0F5F8;
    padding-top: 5%;
}

.treatment-plan h5 {
    margin-bottom: 0;
    color: #393e46;
}

.treatment-plan h2 {
    margin-top: 0;
    color: #5b9ad5;
}

.treatment-plan hr {
    border: 1px solid #5b9ad5;
    padding-left: 10%;
    padding-right: 10%;

}

.treatment-plan p {
    color: #393e46;
    padding-left: 30%;
    padding-right: 30%;
}

.treatment-plan-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E0F5F8;
    padding: 5%;
}

.treatment-plan-cards hr {
    border: 1px solid #5b9ad5;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 0;
}

.step {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    text-align: center;
    align-items: center;
    background-color: #eff4f8;
    width: 20%;
    height: auto;
    border-radius: 10%;
}

.step h4 {
    margin-bottom: 0;
    color: #393e46;
}

.step p {
    color: #393e46;
}

.diagnose-img {
    width: 40%;
    height: 40%;
    padding-top: 10%;
    padding-left: 5%;
}

.hospital-img {
    width: 40%;
    height: 40%;
    padding-top: 10%;
}

.calendar-img {
    width: 38%;
    height: 38%;
    padding-top: 10%;
    padding-bottom: 2%;
}

.suitcase-img {
    width: 38%;
    height: 38%;
    padding-top: 10%;
}

/*#region MOBILE CONTENT*/
@media (max-width: 780px) {

}
/*#endregion MOBILE CONTENT*/

/*#endregion CONTENT*/


/*#region FOOTER */

footer {
    height: 45%;
    background-color: var(--dkblue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.footer-img-container{
    flex: .75;
    display: flex;
    justify-content: center;
}

.footer-img-container img{
    width: 75%;
    align-self: center;
}

.footer-contact-container {
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.footer-contact-container p, h2{
    color: var(--white);
}

.contact-social {
    display: flex;
    justify-content: space-between;
    height: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.contact-social img{
    width: 15%;
}

.footer-map-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer iframe {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

/*#region MOBILE FOOTER */

@media (max-width: 780px) {
    footer {
        flex-direction: column;
        height: 100%;
    }

    .footer-img-container{
       flex: 0.2;
    }

    .footer-img-container img{
        width: 30%;
    }

    .footer-contact-container{
        width: 80%;
        height: 30%;
        justify-content: center;
    }

    .contact-social {
        height: 20%;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .contact-social img {
        padding: .5em;
        width: 10%;
        height: fit-content;
    }

    .footer-map-container {
        width: 100%;
        height: 40%;
        flex: 1;
    }

    .footer-map-container iframe {
        height: 100%;
        width: 100%;
        margin: 1%;
    }
}

/*#endregion MOBILE FOOTER*/

/*#endregion FOOTER*/
