body {
    margin: 0;
    background-color: #E0F5F8;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.mobile-header {
    display: none;
}

.contact-banner {
    float: none;
    display: flex;
    position: relative;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-top: 1%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #41506b;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phones {
    display: flex;
    justify-content: center;
    height: 100%;
}

.mails {
    display: flex;
    justify-content: center;
    height: 100%;
}

.contact-banner a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

.contact-banner svg {
    height: 1.25em;
}

.socials {
    display: flex;
    float: none;
    position: relative;
    height: 20%;
    align-items: center;
}

.btn-whatsapp {
    border: none;
    background-image: url("./icons/whatsapp.svg");
    background-repeat: no-repeat;
    padding: 12px 25px;
    cursor: pointer;
    width: 20%;
    height: 20%;
}

.btn-instagram {
    border: none;
    background-image: url("./icons/instagram.svg");
    background-repeat: no-repeat;
    padding: 12px 25px;
    cursor: pointer;

}

.btn-facebook {
    border: none;
    background-image: url("./icons/facebook.svg");
    background-repeat: no-repeat;
    padding: 12px 16px;
    cursor: pointer;
}


.menu {
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: space-between;
    padding-right: 3%;
}

.navbar {
    display: flex;
    width: 40%;
    align-items: center;
}

.menuButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    text-align: center;
    align-items: center;
    padding: 1%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border-radius: 4px;
    width: 100%;
    height: 50%;
}

.menuButton:hover {
    background-color: #ddd;
    color: black;
}

.languageSelector {
    height: 35%;
    width: 100%;
}

.active {
    background-color: #5b9ad5;
    color: white;
}

.logo-container {
    float: left;
    padding-left: 4%;
    border-radius: 4px;
    width: 10%;
    height: 5%;
}



.our-med-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0F5F8;
    padding-top: 3%;
}

.our-med-services h1 {
    color: #5b9ad5;
}

.our-med-services hr {
    border: 1px solid #5b9ad5;
    padding-left: 10%;
    padding-right: 10%;
}

.our-med-services p {
    color: #393e46;
}

.med-services {
    padding-top: 5%;
    background-color: #E0F5F8;
}

.service {
    flex: 1;
    height: 20%;
    width: 8%;
    background-color: #eff4f8;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 1%;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.service img {
    width: 35%;
    height: auto;
    margin-top: 8%;
    margin-left: 35%;
    background-color: #5b9ad5;
    border-radius: 50%;
    border: #41506b 0.5px solid;
}

.service h4 {
    color: #393e46;
    margin-bottom: 0;
    padding-top: 3%;
    text-align: center;
}

.service p {
    color: #393e46;
    font-size: medium;
    letter-spacing: 0.5px;
}

.service li {
    color: #393e46;
    font-size: medium;
    letter-spacing: 0.5px;
}

.explore {
  background-color: #5b9ad5;
  border: 0.5px solid #41506b;
  border-radius: 30px;
  box-shadow: #41506b 0.5px 0.5px 0.5 0.5;
  color: #eff4f8;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 5%;
  margin-left: 20%;
}

.explore:hover {
  background-color: #fff;
  color: #41506b;
}

.explore:active {
  box-shadow: #41506b 0 0 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .explore {
    min-width: 120px;
    padding: 0 25px;
  }
}

.cards {
    display: flex;
    flex-direction: row;
}

.infobox-container {
    display: none;
    background-color: white;
    padding: 2%;
}

.infobox {
    transform-origin: top;
}

.teethimplant-content,
.breastsurgery-content {
    display: none;
    transform-origin: top;
}

@keyframes slidedown{
    from {
        opacity: 0;
      }
      to {
        display: block;
        opacity: 100%;
      }
}

.contact-line {
    margin-top: 5%;
    background-color: #41506b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

.contact-line p {
    color: #e0f4f7;
    font-size: large;
    font-weight: 600;
    line-height: 2;
}

.hand {
    width: 20%;
    height: 60%;
}

.contact-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #5b9ad5;
    border-radius: 15px;
    box-sizing: border-box;
    color: #5b9ad5;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 10%;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10%;
}

.contact-button:disabled {
    pointer-events: none;
}

.contact-button:hover {
    color: #fff;
    background-color: #5b9ad5;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.contact-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.treatment-plan {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0F5F8;
    padding-top: 5%;

}

.treatment-plan h5 {
   margin-bottom: 0;
   color: #393e46;
}

.treatment-plan h2 {
    margin-top: 0;
    color: #5b9ad5;
}

.treatment-plan hr {
    border: 1px solid #5b9ad5;
    padding-left: 10%;
    padding-right: 10%;

}

.treatment-plan p {
    color: #393e46;
    padding-left: 30%;
    padding-right: 30%;
}

.treatment-plan-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E0F5F8;
    padding: 5%;
}

.treatment-plan-cards hr {
    border: 1px solid #5b9ad5;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 0;
}

.step {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    text-align: center;
    align-items: center;
    background-color: #eff4f8;
    width: 20%;
    height: auto;
    border-radius: 10%;
}

.step h4 {
    margin-bottom: 0;
    color: #393e46;
}

.step p {
    color: #393e46;
}

.diagnose-img {
    width: 40%;
    height: 40%;
    padding-top: 10%;
    padding-left: 5%;
}

.hospital-img {
    width: 40%;
    height: 40%;
    padding-top: 10%;
}

.calendar-img {
    width: 38%;
    height: 38%;
    padding-top: 10%;
}

.suitcase-img {
    width: 38%;
    height: 38%;
    padding-top: 10%;
}

.footer {
    background-color: #41506b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-box {
    height: 70%;
    width: 70%;
    background-color: #41506b;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.contact-box {
    height: 70%;
    width: 70%;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box h2 {
    padding: 30% 80% 10% 10%;
    color: #fffdf6;
}

.contact-box hr {
    border: 1px solid #fffdf6;
    margin-left: 20%;
}

.contact-box p {
    padding: 5%;
    padding-top: 0%;
    color: #fffdf6;
    word-spacing: 5px;
    text-align: center;
}


.contact-social {
    display: flex;
    height: 20%;
    width: 50%;
    background-color: #41506b;
    flex-direction: row;
}

.footer-whatsapp {
    flex: 1 1;
    height: 40%;
    border: none;
    background-image: url("./icons/whatsapp-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    background-color: #41506b;

}

.footer-instagram {
    flex: 1 1;
    height: 40%;
    border: none;
    background-image: url("./icons/instagram-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    background-color: #41506b;

}

.footer-facebook {
    flex: 1 1;
    height: 40%;
    border: none;
    background-image: url("./icons/facebook-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    background-color: #41506b;

}

.map-box {
    height: 70%;
    width: 70%;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8%;
    display: flex;
    margin: 2%;
}

.map-container {
    width: 100%;
    height: 100%;
}